nextflowVersion = '>=20.01.0'

// Set nextflow configuration profiles
profiles {
    local {
        includeConfig 'conf/base.config'
    }

    lsf {
        includeConfig 'conf/base.config'
        includeConfig 'conf/lsf.config'
    }
    
    lsf_hgi {
        includeConfig 'conf/base_hgi.config'
        includeConfig 'conf/lsf_hgi.config'
    }

} // end profiles
