// General resource configuration applicable to all profiles
workDir =    "${projectDir}/../work"
tmpDir =     "${projectDir}/../tmp"

params {
  reportdir = "${projectDir}/../reports"
}

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

process {
    // make sure that the container imate is available to mercury in cacheDir
    container =	'nf_cellbender_v1.2'
    // error strategy
    errorStrategy = 'retry'
    //errorStrategy = 'terminate'
    maxRetries = 2

    // basic resources
    cpus = 1
    memory = 20.GB
    //time = { 20.m * task.attempt }

    // basic output settings
    publish_mode = "rellink" // symlink or copy

    // process-specific resources
    withName: cellbender__remove_background__qc_plots {
    	container = 'nf_qc_cluster_2.4'
        memory = { 10.GB + 10.GB * task.attempt }
    }
} // end process
