// General resource configuration applicable to all profiles
workDir =    "${projectDir}/../work"
tmpDir =     "${projectDir}/../tmp"

params {
  reportdir = "${projectDir}/../reports"
}

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

process {
    // make sure that the container imate is available to mercury in cacheDir
    container =	'nf_cellbender_v1.2'
    // error strategy
    errorStrategy = 'retry'
    //errorStrategy = 'terminate'
    maxRetries = 2

    // basic resources
    cpus = 1
    memory = 20.GB
    //time = { 20.m * task.attempt }

    // basic output settings
    publish_mode = "rellink" // symlink or copy

    // process-specific resources
    withName: run_scrublet {
        memory = { 25.GB * task.attempt }
    }
    withName: make_cellmetadata_pipeline_input {
        memory = { 5.GB * task.attempt }
    }
    withName: merge_samples {
        memory = { 20.GB * task.attempt }
    }
    withName: normalize_and_pca {
        memory = { 50.GB * task.attempt }
        cpus = 8
    }
    withName: subset_pcs {
        memory = { 5.GB * task.attempt }
    }
    withName: harmony {
        memory = { 20.GB * task.attempt }
    }
    withName: bbknn {
        memory = { 20.GB * task.attempt }
        cpus = 4
    }
    withName: cluster {
        memory = { 20.GB * task.attempt }
        cpus = 4
    }
    withName: cluster_validate_resolution_sklearn {
        memory = { 40.GB * task.attempt }
        cpus = { 8 * task.attempt }
    }
    // Tensorflow wants to use all available memory on a GPU, so make sure we
    // request lots of memory. Most nodes have 754.5G on Sanger farm, so
    // request ~1/2.
    withName: cluster_validate_resolution_keras {
        memory = 370.GB
        //memory = 150.GB
        cpus = 1
    }
    withName: plot_resolution_validate {
        memory = { 20.GB * task.attempt }
        cpus = 1
    }
    withName: cluster_markers {
        memory = { 15.GB * task.attempt }
        cpus = 4
    }
    withName: merge_clusters {
        memory = { 30.GB * task.attempt }
        cpus = 8
    }
    withName: convert_seurat {
        memory = { 60.GB * task.attempt }
    }
    withName: umap_calculate {
        memory = { 50.GB * task.attempt }
        cpus = 8
    }
    withName: umap_gather {
        memory = { 50.GB * task.attempt }
    }
    withName: umap_calculate_and_plot {
        memory = { 50.GB * task.attempt }
        cpus = 8
    }
} // end process
