// Configuration for NIH Biowulf's Slurm workload management platform

process {
	executor='slurm'
	queue = 'norm'
	time = '1000m'
	memory = '35GB'
	pollInterval = '1 min'
	queueStatInterval = '2 min'
	
	withLabel: gpu {
		queue = 'gpu'
		clusterOptions = '--gres=gpu:k80:1 --time=10-00:00:00'
	}
}

singularity {
    enabled     = true
    autoMounts  = true
    // USER should set this via NXF_SINGULARITY_CACHEDIR
    // cacheDir = '/lustre/scratch118/humgen/resources/containers/'
    //runOptions = '--dns 172.18.255.1,172.18.255.2,172.18.255.3'
    envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

executor {
	name = 'slurm'
} 
